@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap");

:root {
    --background: #050711;
    --foreground: #ededed;
    --highlight: #bb7ff3;
    --highlight-dark: #380d61;
    --highlight-light: #bfe4ff;

    --sync: #46b9ee;
    --sync-light: #77c9f0;

    --bnet-blue: #0074e0;
    --admin-from: #111211;
    --admin-to: #171a18;

    --active-btn: linear-gradient(
        135deg,
        rgba(223, 225, 242, 1) 0%,
        rgba(91, 145, 199, 1) 100%
    );

    --petrol: linear-gradient(135deg, #0a1f33 0%, #112f49 100%);

    --legendary-card: linear-gradient(
        135deg,
        #ffeb7f 0%,
        #ffc63a 50%,
        #b36b00 100%
    );
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-size: 1.25em;
}

body {
    color: var(--foreground);
    background: var(--background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
