.info-panel {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 20%;
    max-width: 20%;
    height: 90vh;
    border-radius: 0.5rem;
    gap: 1em;
}

.spacer {
    flex: 1;
}

.admin-controls {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
}

.admin-controls .btn {
    flex: 1;
}

.admin-btn {
    flex: 1;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: var(--admin-to);
    padding: 0.5em 0.5em;
    font-size: 0.8em;
    font-weight: normal;
    box-sizing: border-box;
}

.admin-btn:hover {
    color: var(--sync);
}

.btag-tile {
    background: linear-gradient(135deg, #0a1f33 0%, #112f49 100%);
    color: var(--highlight-light);
    border-radius: 0.5rem;
    user-select: none;
    padding: 8px 24px;
    margin-bottom: 1rem;
    text-align: center;
}

.btag-label {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: var(--bnet-blue);
    letter-spacing: 1px;
}

.btag-value {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--highlight-light);
    text-shadow: 0 0 8px rgba(0, 136, 255, 0.7);
    margin-top: 3px;
    margin-bottom: 3px;
}

.btag-community {
    font-size: 0.5rem;
    text-transform: uppercase;
    color: var(--highlight-light);
    letter-spacing: 1px;
}

.btn {
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    transition:
        background-color 0.5s ease-in-out,
        color 0.3s ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background: linear-gradient(135deg, #0a1f33 0%, #112f49 100%);
    color: var(--highlight-light);
    padding: 12px 24px;
    margin-bottom: 1rem;
}

.btn:hover {
    background: var(--sync);
    box-shadow: 0 0 6px var(--sync);
    color: var(--background);
}

.notification-popup {
    position: fixed;
    background: linear-gradient(135deg, #0a1f33 0%, #112f49 100%);
    top: 10vh;
    color: var(--highlight-light);
    padding: 12px 20px;
    border-radius: 12px;
    animation: fadeInOut 3s forwards;
    z-index: 10;
}

.lock-notice {
    color: gray;
    font-size: 0.8rem;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}
