.info-panel {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 20%;
    max-width: 20%;
    height: 92vh;
    border-radius: 0.5rem;
    gap: 0.8em;
}

.spacer {
    flex: 1;
}

.btn-group {
    display: flex;
    gap: 0.5em;
    justify-content: flex-end;
}

.toggle-group {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
}

.admin-btn {
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: transparent;
    padding: 0.5em 0.3em;
    font-size: 0.8em;
    box-sizing: border-box;
}

.admin-btn:hover {
    background: var(--sync);
    box-shadow: 0 0 6px var(--sync);
    color: var(--background);
}

.active-btn {
    background: var(--active-btn);
    color: var(--background);
}

.locked-btn {
    background-color: var(--admin-to) !important;
    color: gray;
}

.btag-tile {
    background: var(--petrol);
    color: var(--highlight-light);
    border-radius: 0.5rem;
    user-select: none;
    padding: 8px 24px;
    margin-bottom: 1rem;
    text-align: center;
}

.btag-label {
    font-size: 0.5em;
    font-weight: 600;
    color: white;
    letter-spacing: 1px;
    color: var(--sync-light);
}

.btag-value {
    font-size: 1.5em;
    font-weight: 600;
    color: var(--highlight-light);
    margin-top: 3px;
    margin-bottom: 3px;
}

.btag-community {
    font-size: 0.5em;
    text-transform: uppercase;
    color: var(--highlight-light);
    letter-spacing: 1px;
}

.btn {
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    transition:
        background-color 0.3s ease-in-out,
        color 0.3s ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background: var(--petrol);
    padding: 12px 24px;
    margin-bottom: 1rem;
    font-size: 1.25em;
}

.btn:disabled {
    background: none;
    background-color: var(--admin-to);
}

.btn:hover:not(:disabled) {
    background: var(--sync);
    box-shadow: 0 0 6px var(--sync);
    color: var(--background);
}

.notification-popup {
    font-family: var(--font-geist-sans), sans-serif;
    position: fixed;
    background: var(--petrol);
    top: 10vh;
    color: var(--highlight-light);
    padding: 12px 20px;
    border-radius: 12px;
    animation: fadeInOut 3s forwards;
    z-index: 10;
}

.lock-notice-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: "IM Fell English SC", serif;
}

.lock-notice {
    font-size: 1rem;
}

.greyed {
    color: gray !important;
}

.lock-notice-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    padding-top: 2rem;
}

.assignment-text {
    color: var(--background);
    border: none;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 0.3em;
    font-size: 1rem;
    font-weight: bold;
    box-sizing: border-box;
    width: 100%;
    user-select: none;
    background: var(--legendary-card);
    color: var(--background);
}

.large-num {
    font-size: 3rem;
    width: 100%;
}

.lock-icon {
    width: 60%;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.toggle-wrapper {
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    background-color: transparent;
    padding: 0.5em 0.3em;
    font-size: 0.8em;
    box-sizing: border-box;
}

.toggle-wrapper:hover:not(:disabled) {
    box-shadow: 0 0 6px var(--sync);
}

.toggle {
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 0.8em;
    box-sizing: border-box;
}

.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 4em;
    height: 2em;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}

/* thumb (icon container) */
.toggle-thumb {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:
        left 0.25s,
        background 0.25s,
        box-shadow 0.25s;
}

.toggle:hover .toggle-thumb {
    box-shadow: 0 0 6px var(--background);
}

.toggle-checkbox:checked + .toggle-switch {
    background: var(--background);
    box-shadow: 0 0 6px var(--sync);
}

.toggle-checkbox:not(:checked) + .toggle-switch .toggle-thumb {
    background-color: var(--background);
    color: white;
}

.toggle-checkbox:checked + .toggle-switch .toggle-thumb {
    left: calc(100% - 28px);
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}
.toggle-label {
    margin-left: 5px;
    position: relative;
    font-size: 1em;
    user-select: none;
}

.textarea-wrapper {
    position: relative;
    width: 100%;
    flex: 1; /* fill available space */
}

.info-textarea {
    width: 100%;
    height: 100%;
    padding: 20px 16px 8px 16px;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: 1px solid var(--sync-light);
    background-color: var(--petrol);
    font-family: var(--font-geist-sans), sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    resize: none;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.info-textarea:focus {
    border-color: var(--sync);
    box-shadow: 0 0 6px var(--sync);
}

.info-label {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    top: -0.5em;
    background: var(--background);
    padding: 2px 6px;
}

.info-textarea:focus .info-label {
    border: 1px solid var(--sync-light);
    border-color: var(--sync);
    box-shadow: 0 0 6px var(--sync);
    border-radius: 0.5rem;
}

.btn-on {
    background-color: #1aff8c;
    color: var(--background);
}
