.component-style {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.map-title-style {
  font-size: 1.875rem;
  font-weight: 800;
  color: #1f2937;
}

.map-subtitle-style {
  color: #4b5563; /* gray-600 */
  margin-bottom: 1.5rem;
}

.map-wrapper {
  display: flex;
  gap: 1.5rem;
  min-height: 90vh; 
  width: 100%;
}

/* -------------------------------------------------------------------------
   MAP CONTAINER STYLES
   ------------------------------------------------------------------------- */
.map-container-style {
  width: 100%;
  height: 90vh;
  border-radius: 0.75rem;
  overflow: hidden;
  flex-grow: 1;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.map-container-style:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.map-container-style .ol-viewport {
  border-radius: 0.5rem;
}
